@font-face {
    font-family: HindiMedium;
    src: url(/fonts/HindMadurai-Medium.ttf)    
}

@font-face {
    font-family: HindiRegular;
    src: url(/fonts/HindMadurai-Regular.ttf);
}

@font-face {
    font-family: MartelRegular;
    src: url(/fonts/Martel-Regular.ttf);
}

@font-face {
    font-family: MartelSemiBold;
    src: url(/fonts/Martel-SemiBold.ttf);
}

@font-face {
    font-family: Questrial;
    src: url(/fonts/Questrial-Regular.ttf);
}

a {
    font-family: HindiMedium;   
}
.form-control-sm {
    font-family: HindiMedium;
}

button {
    font-family: HindiMedium;
}

h1 {
    font-family: Questrial;
}

h2 {
    font-family: MartelSemiBold;
}








